{% extends "template.html" %}
{% block title %} Steam {% endblock %}

{% block container %}

<div class="tp" id="tp"> <!-- nomJeu,description,idJeu,prix,image,uScore,date,achievements,developpeur.nomDev,editeur.nomEditeur,platformes.nomPlat -->
    <div class="ihm__wrapper">
        <div class="ihm__card">
            <h2>BDD</h2>
            <p>Notre base de données contient un total de 90 000 entrées, voici son MLD :</p>
            <img src="../static/mld.png">
            <p>Télécharger la BDD : <a href="https://drive.google.com/file/d/1AKCRFnsd1OhBrUcm4JchDZ_EENGsahbZ/view?usp=sharing">steamDatabase.db</a></p>
        </div>
        <div class="ihm__card">
            <h2>Vues admin</h2>
            <p>Il y a une vue admin pour chaque table, avec aussi des vues complexes :</p>
            <ul>
                <li><a href="/admin.jeu">/admin.jeu</a></li>
                <li><a href="/admin.developpeur">/admin.developpeur</a></li>
                <li><a href="/admin.editeur">/admin.editeur</a></li>
                <li><a href="/admin.platformes">/admin.platformes</a></li>
                <li><a href="/admin.jeu/keyword.insect">/admin.jeu/keyword.insect</a></li>
                <li><a href="/admin.developpeur/keyword.fun">/admin.developpeur/keyword.fun</a></li>
                <li><a href="/admin.jeu/dev.Valve">/admin.jeu/dev.Valve</a></li>
                <li><a href="/admin.jeu/prix.499">/admin.jeu/prix.499</a></li>
            </ul>
            <p>Nous pouvons aussi faire une recherche avec le mot clé et le prix :</p>
            <form action="/chercher">
                <label for="prix" class="fa-solid fa-magnifying-glass" style="color:#fff;"></label>
                <input class='searchbar' type="text" placeholder="" name="keyword" id="keyword">
                <label for="keyword" class="fa-solid fa-dollar-sign" style="color:#fff;"></label>
                <input class='searchbar' type="number" placeholder="" name="prix" id="prix">
                <input type="submit" value="Soumettre">
            </form>
        </div>
        <div class="ihm__card">
            <h2>Le code</h2>
            <img src="../static/get_featured.png">
        </div>
    </div>
</div>

{% endblock %}
