{% extends "template.html" %}
{% block title %} Steam {% endblock %}

{% block container %}

<div class="tp" id="tp">
  {% for jeu in jeux %} <!-- (idJeu, nomJeu, description, prix, uScore, date, image, achievements, idDev, idEditeur, idPlatforme) -->
  <div class="ihm__wrapper">
      <div class="ihm__card">
          <h2>{{ jeu[1] }}</h2>
          <p>{{ jeu[2][:50] }}</p>
          <div class="ihm__btn"><button><a href="">More About</a></button></div>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
