{% extends "template.html" %}
{% block title %} Steam {% endblock %}

{% block container %}

<div class="tp" id="tp">
  {% for jeu in jeux %} <!-- (idJeu, nomJeu, description, prix, uScore, image, idDev, idEditeur, idPlatforme) -->
  <div class="ihm__wrapper">
      <div class="ihm__card">
        <div class="ihm_container">
          <img width="360px" src="{{ jeu[6] }}">
          <div class="ihm_text">
            <h2>{{ jeu[1] }}</h2>
            <div class="ihm_rest">
              <h4>
                {% if jeu[3] == 0 %}
                  {{ 'Gratuit' }}
                {% else %}
                 {{ '{:.2f}$'.format(jeu[3] / 100) }}
                {% endif %}
              </h4>
              <h4>{{ jeu[7] }}</h4>
            </div>
            <p class="desc">{{ (jeu[2][:200]) | safe }}</p>
          </div>
        </div>

        <!-- <div class="ihm__btn"><button><a href="#">More About</a></button></div> -->
      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
