{% extends "template.html" %}
{% block title %} Steam {% endblock %}

{% block container %}

<div class="tp" id="tp">
  {% for jeu in jeux %} <!-- (idJeu, nomJeu, description, prix, uScore, image, idDev, idEditeur, idPlatforme, descreduit) -->
  <div class="ihm__wrapper">
      <div class="ihm__card">
        <div class="ihm_container">
          <img src="{{ jeu[5] }}" width="370px" class="ihm__image">
          <div class="ihm_text">
            <h2>{{ jeu[1] }}</h2>
            <div class="ihm_rest">
              <h4>
                {% if jeu[3] == 0 %}
                  {{ 'Gratuit' }}
                {% else %}
                 {{ '{:.2f}$'.format(jeu[3] / 100) }}
                {% endif %}
              </h4>
              <h4>{{ jeu[6] }}</h4>
            </div>
            <div id="ihm_description">
              {{ jeu[7] | safe }}
              <!-- {% if jeu[7] is not none %}
                {% set num_gt = jeu[7].count('>') %}
                {% if num_gt > 10 %}
                  {% set split_text = jeu[7].split('>', 10) %}
                  <div class="part1">{{ (split_text[:10] | join('>')) | safe }}></div>
                  <div class="part2">{{ (split_text[6:] | join('>')) | safe }}</div>
                {% else %}
                <p>{{ cleaned_text }}</p>
                {% endif %}
                {% else %}
                    <p></p>
                {% endif %} -->
            </div>
          </div>
        </div>
        <!-- <div class="ihm__btn"><button><a href="#">More About</a></button></div> -->

      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
