<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
</head>
        
<body> 

<!--               BARRE DE NAVIGATION                                      -->
<nav class="navbar" id="nav">
  <div class="navbar__container" >
    <a href="#" id="navbar__logo"><img class="imglogo" src="https://media.discordapp.net/attachments/713449876570243273/1167954649467334766/steam-logo-white.png?ex=65500187&is=653d8c87&hm=9639bc809402821ef39625ec14b5339b6d42ec9b0a2ea8b34da698dce91830bc&=&width=1445&height=1445" height="40px">VAPOR</a>
    <div class="navbar__toggle" id="mobile-menu"> 
      <span class="bar"></span> <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="#" class="navbar__links" id="home-page">Store</a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__links" id="about-page">Library</a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__links" id="pilot-page">About</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <form>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class='searchbar' type="search" placeholder="search">
    </form>
</nav>

<div class="tp" id="tp">
  <!-- <h1>Games</h1> -->
  <div class="ihm__wrapper">
    <div class="ihm__card">
      <h2>Title</h2>
      <p>Description...</p>
      <div class="ihm__btn"><button><a href="../IHMWeb/1/IHMWeb1.html">More About</a></button></div>
    </div>
  </div>
</div>
</div>

<div class="footer__container">
  <section class="social__media">
    <div class="social__media--wrap">
      <p class="website__rights">© All Rights Reserved, 2023</p>
      </div>
    </div>
  </section>
</div>
</body>
</html>
